.Header {
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  border: 2px solid red;
  background-color: black;
}

.listHeader {
  border: 2px solid red;
  padding: 10px 50px;
  border-radius: 12px;
  list-style: none;
}